.button_theme_opalescent-1 {
    background-color: #1A3E3E;
    color: #FDFDFD;
    transition: color .1s ease-in-out;

    padding: 12px 24px;
}

.button_theme_opalescent-1:hover {
    color: #F2BE22;
}

.button_theme_opalescent-2 {
    background-color: #1A3E3E;
    color: #FDFDFD;

    padding: 16px 36px;
}