.card__reviews {
    display: flex;
    align-items: center;

    position: absolute;
    right: 0;
    top: 50px;

    border-radius: 4px 0px 0px 4px;
    background: rgba(253, 253, 253, 0.40);
    backdrop-filter: blur(2px);
    transition: padding .3s ease-in-out, transform .3s ease-in-out;
    transition-delay: .1s;

    padding: 4px 8px;
}

.card:hover .card__reviews {
    transform: translateY(-55px);
    padding: 10px 166px 2px 170px;
}