.form-el_theme_data-1::before {
    content: 'Дата похода';
    max-width: 215px;
    width: 100%;

    transition: transform .1s ease-in-out, opacity .05s ease-in-out, max-width .1s ease-in-out;
}

.form-el_theme_data-1:focus::before,
.form-el_theme_data-1:valid::before {
    opacity: 0;
    transform: translateX(-300px);
    max-width: 0;
}

/* .form-el_theme_data-1::after {
    content: 'введите дату:';
    color: #FDFDFD;
    border-radius: 4px;
    background-color: #1A3E3E;
    opacity: 0;
    transition: opacity .1s ease-in-out;

    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    position: absolute;
    top: 9px;
    left: -1000px;

    padding: 1px 5px;
}

.form-el_theme_data-1:focus::after {
    opacity: 1;
    transform: translateX(1340px);
} */

.form-el_theme_data-1::-webkit-calendar-picker-indicator {
    background-image: url(../../../assets/img/icons/formkit_date-form-el-white.svg);
    cursor: pointer;

    transition: background-image .1s ease-out;
}

.form-el_theme_data-1::-webkit-calendar-picker-indicator:hover {
    background-image: url(../../../assets/img/icons/formkit_date-form-el-yellow.svg);
}