.offer__title {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.216px;

    margin-bottom: 4px;
}