.form {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);

    height: 161px;
    position: relative;
}