.card_background_img-3 {
    background-image: url(../../../assets/img/travel/travel-3-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}